@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'JetBrains Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #0F0A0F;
    padding: 1em;
    user-select: none;
}

h1 img {
    vertical-align: middle;
    width: 3em;
    border-radius: 50%;
}

a {
    color: white;
}

hr {
    color: #3d1d3d;
}

h1 span.pp-credits {
    font-size: small;
    color: #999999;
}

h1 span.pp-credits a {
    color: #999999;
}
