body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: #0F0A0F;
    padding: 4em;
    user-select: none;
}

h1 {
    font-size: 5em;
}

h1 img {
    vertical-align: middle;
    width: 1em;
    border-radius: 50%;
}

a {
    color: white;
}

li {
    list-style: none;
}

header, main {
    padding-bottom: 1em;
}

footer, main {
    padding-top: 1em;
}
