.blog {
    max-width: 75ch;
    text-align: justify;
    text-justify: auto;
    margin: auto
}

pre {
    cursor: text;
}

code {
    border-radius: 8px;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.smol {
    font-size: small;
    color: #999999;
}

.back_to_top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 6px;
    border-radius: 8px;
    background-color: #0F0A0FBB;
}
