.blog {
    max-width: 75ch;
    text-align: justify;
    text-justify: auto;
    margin: auto
}

pre {
    cursor: text;
}

code {
    border-radius: 8px;
}

img {
    max-width: 100%;
}

.smol {
    font-size: small;
    color: #999999;
}
