@font-face {
    font-family: 'Open Sans';
    src: local(''),
        url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

body {
    color: rgb(228, 227, 218);
    background: rgb(100,0,100);
    background: linear-gradient(0deg, rgba(100,0,100,1) 0%, rgba(100,0,100,1) 10%, rgba(255,0,255,1) 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    text-align: center;
    user-select: none;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

p {
    font-size: 150%;
}

a {
    color: inherit;
}

img.pp {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    vertical-align: middle;
}
